.button {
    color: rgb(var(--primary-text-color));
    background-color: rgb(var(--button-color));
    border: none;
    border-radius: var(--border-radius);
    padding: 13px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(var(--button-color) / 80%);
}

.button:active {
    background-color: rgb(var(--button-color) / 70%);
}
