.container {
    width: 100%;
    height: calc(100 * var(--vh, 1vh));
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    flex: 1;
    height: 100%;
    max-width: var(--form-max-width);
    max-height: var(--form-max-height);
    padding: 16px 24px;
    background: rgb(var(--main-color) / 10%);
    border: 3px solid rgb(var(--main-color) / 30%);
    border-radius: calc(var(--border-radius) * 4);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(var(--primary-text-color));
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 13px;
}

.header {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 26px;
}

.emailInputContainer {
    margin-bottom: 30px;
}

.passwordInputContainer {
    margin-bottom: 17px;
}

@media (prefers-reduced-motion: no-preference) {
    .form:invalid .signInButtonShake {
        animation: shake 300ms;
    }
}

@keyframes shake {
    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(4px);
    }
}

.signInButton {
    margin-bottom: 32px;
}

.providers {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
}

.providerButton {
    flex: 1;
}

.forgotPasswordLink {
    align-self: start;
    font-size: 12px;
    line-height: 14px;
}

.text {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.continueWithText {
    margin-bottom: 29px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 700px) {
    .form {
        padding: 36px 64px;
    }
}

/* Desktop */
@media (min-width: 1120px) {
    .form {
        padding: 48px 96px;
    }
}
