.container {
    width: 100%;
    height: calc(100 * var(--vh, 1vh));
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    flex: 1;
    height: 100%;
    max-width: var(--form-max-width);
    max-height: var(--form-max-height);
    padding: 16px 24px;
    background: rgb(var(--main-color) / 10%);
    border: 3px solid rgb(var(--main-color) / 30%);
    border-radius: calc(var(--border-radius) * 4);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(var(--primary-text-color));
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 13px;
}

.header {
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 26px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.emailInputContainer {
    margin-bottom: 30px;
}

.passwordInputContainer {
    margin-bottom: 17px;
}

.label {
    font-size: 18px;
    line-height: 21px;
}

.input {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    padding: 17px 23px;
    background-color: rgb(var(--primary-text-color));
    border: 1px solid rgb(var(--secondary-text-color));
    border-radius: var(--border-radius);
    color: rgb(var(--input-text-color));
}

.input::placeholder {
    color: rgb(var(--secondary-text-color));
}

.signInButton {
    margin-bottom: 32px;
    color: rgb(var(--primary-text-color));
    background-color: rgb(var(--button-color));
    border: none;
    border-radius: var(--border-radius);
    padding: 13px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

.signInButton:hover {
    background-color: rgb(var(--button-color) / 80%);
}

.signInButton:active {
    background-color: rgb(var(--button-color) / 70%);
}

.providers {
    display: flex;
    gap: 24px;
}

.providerButton {
    flex: 1;
    margin-bottom: 32px;
    background-color: rgb(var(--primary-text-color));
    border: none;
    border-radius: var(--border-radius);
    padding: 13px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.providerButton:hover {
    background-color: rgb(var(--primary-text-color) / 80%);
}

.providerButton:active {
    background-color: rgb(var(--primary-text-color) / 70%);
}

.passwordInputWrapper {
    position: relative;
}

.showPasswordButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 12px;
    top: 50%;
    padding: 8px;
    transform: translate(0, -50%);
    border-radius: var(--border-radius);
}

.showPasswordButton:hover {
    background-color: rgb(var(--secondary-text-color) / 15%);
}

.showPasswordButton:active {
    background-color: rgb(var(--secondary-text-color) / 25%);
}

.forgotPasswordLink {
    align-self: start;
    margin-bottom: 42px;
    font-size: 12px;
    line-height: 14px;
}

.text {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.continueWithText {
    margin-bottom: 29px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 700px) {
    .form {
        padding: 36px 64px;
    }
}

/* Desktop */
@media (min-width: 1120px) {
    .form {
        padding: 48px 96px;
    }
}
