.error {
    min-height: 42px;
    color: rgb(var(--error-color));
    padding: 6px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fadeIn {
    animation: fade-in-down 0.5s;
}

.fadeOut {
    animation: fade-out-down 0.5s;
}

@keyframes fade-in-down {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-out-down {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}
