:root {
    --border-radius: 10px;
    --main-color: 88 130 193;
    --primary-text-color: 255 255 255;
    --secondary-text-color: 188 190 192;
    --input-text-color: 51 51 51;
    --button-color: 0 52 101;
    --focus-color: 255 181 46;
    --background-color: radial-gradient(58.43% 103.88% at 56.74% 50%, #0085ff 0%, #003465 100%);
    --form-max-width: 690px;
    --form-max-height: 690px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-color: 255 255 255;
        --button-color: 189 12 71;
        --background-color: linear-gradient(287.56deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button,
input {
    font-family: inherit;
}

button:focus-visible,
a:focus-visible,
input:focus-visible {
    outline: 2px dashed rgb(var(--focus-color));
    outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
