:root {
    --border-radius: 10px;
    --main-color: 255 255 255;
    --background-color: linear-gradient(287.56deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* TODO: dark theme */
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
