.container {
    background: var(--background-color);
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.element {
    --width: var(--start-width);
    --height: var(--start-width);

    /* spacing between form and screen */
    --form-spacing: (100% - min(var(--form-max-width), 100%)) / 2;

    position: absolute;
    transition: transform 100ms ease-out;
    width: var(--width);
    height: var(--height);
}

/* Element styles */

.redElement1 {
    --start-width: 222px;
    --start-height: 207px;

    left: -20%;
    top: 70%;
    filter: opacity(50%);
}

.redElement2 {
    --start-width: 222px;
    --start-height: 207px;

    left: 49%;
    top: 10%;
}

.greenElement1 {
    --start-width: 51px;
    --start-height: 28px;

    left: calc(var(--form-spacing) - (var(--width) / 2));
    top: 41%;
}

.greenElement2 {
    --start-width: 81px;
    --start-height: 44px;

    left: calc(var(--form-spacing) - (var(--width) / 2));
    top: 34%;
    z-index: 2;
}

.blueElement1 {
    --start-width: 58px;
    --start-height: 18px;

    right: calc(var(--form-spacing) - (var(--width) / 2));
    top: 68%;
    z-index: 2;
}

.blueElement2 {
    --start-width: 58px;
    --start-height: 18px;

    right: calc(var(--form-spacing) - (var(--width) * 2 / 3));
    top: 71%;
}

.blueElement3 {
    --start-width: 241px;
    --start-height: 77px;

    right: -20%;
    top: 90%;
    filter: opacity(50%);
}

.blueElement4 {
    --start-width: 131px;
    --start-height: 123px;

    left: 23%;
    top: 58%;
}

.blueElement5 {
    --start-width: 90px;
    --start-height: 90px;

    left: 25%;
    top: 0%;
    filter: opacity(50%);
}

/* Tablet and Smaller Desktop */
@media (min-width: 700px) {
    .element {
        --width: calc(var(--start-width) * 2);
        --height: calc(var(--start-height) * 2);
    }

    .greenElement1 {
        top: 47%;
    }

    .greenElement2 {
        left: calc(var(--form-spacing) - (var(--width) * 2 / 3));
        top: 34%;
    }

    .blueElement2 {
        top: 74%;
    }

    .blueElement5 {
        top: -6%;
    }
}

/* Desktop */
@media (min-width: 1120px) {
    .element {
        --width: calc(var(--start-width) * 3);
        --height: calc(var(--start-height) * 3);
    }

    .greenElement2 {
        top: 29%;
    }

    .blueElement2 {
        top: 76%;
    }

    .blueElement5 {
        top: -20%;
    }
}
