.container {
    background: linear-gradient(287.56deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.element {
    position: absolute;
    transition: transform 500ms;
}
